// Typography
$raleway: 'Raleway', $helvetica;
$sans-serif: $raleway;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;
$monospace: 'Source Code Pro', Courier, monospace;

// Font Sizes
$base-font-size: 16px;
$small-font-size: 0.8em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 1.2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$section-spacing: $base-spacing * 3;
$base-z-index: 0;

// Colors
$blue: #477DCA;
$rouge: #EC627A;
$light-rouge: #EEB2BC;
$dark-gray: #333333;
$medium-gray: #999999;
$light-gray: #DDDDDD;
$light-red: #F2D1D8;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Background Color
$base-background-color: #F3E8E8;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $rouge;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: lighten($base-accent-color, 20);
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
$form-field-padding: $base-spacing / 3;
