<pre class="highlight"><code><span class="k">class</span> <span class="nc">Greeting</span>
  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">hello</span>
    <span class="s2">"Hello!"</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">compliment</span>
    <span class="s2">"You look lovely today."</span>
  <span class="k">end</span>
<span class="k">end</span>
</code></pre>
