<section class="demo">
  <%= simple_form_for(:parse, url: parses_path, remote: true) do |form| %>
    <%= form.label :source, 'Try some code' %>
    <div class="source">
      <%= form.text_area :source %>
      <%= form.select :language, lexer_options_for_select, { selected: 'ruby' } %>
    </div>
    <pre class="highlight"></pre>
  <% end %>
</section>
