header {
  @include outer-container;

  margin-bottom: $section-spacing;

  h2 {
    margin-bottom: 1em;
  }

  h2,
  h4 {
    color: $dark-gray;
    text-align: center;
  }
}

h1.main {
  background: transparent url(asset-path('logo.svg')) no-repeat center;
  background-size: 300px;
  height: 5em;

  a {
    display: block;
    height: 100%;
    opacity: 0;
  }
}
