html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 $footer-height;
  padding: 0 $base-spacing;
}

main {
  @include outer-container;

  background-color: $base-background-color;
  min-width: $min-width;
}

a {
  font-weight: 800;
}
