html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 $footer-height;
}

main {
  @include outer-container;

  background-color: $base-background-color;
}

a {
  font-weight: 800;
}
