section.demo {
  $field-height: 20em;

  @include clearfix;

  .source {
    @include span-columns(6);

    position: relative;
  }

  .highlight,
  textarea {
    font: -webkit-control;
    font-family: monospace;
    height: $field-height;
    white-space: pre-wrap;
  }

  #parse_language {
    @include position(absolute, $base-spacing / 3 $base-spacing / 3 0 0);
    @include transition(opacity 0.2s ease);

    opacity: 0.2;

    &:hover {
      opacity: 1;
    }
  }

  .highlight {
    @include span-columns(6);

    background-color: mix($light-red, $base-background-color, 50);
    border: 1px solid $form-border-color;
    border-radius: $form-border-radius;
    line-height: $base-line-height;
    margin-top: 0;
    padding: $form-field-padding;
  }
}
