section.key-features {
  clear: both;
  margin-top: $section-spacing;

  li {
    @include span-columns(4);

    h3 {
      height: 0.5em * $header-line-height;
      margin-bottom: $base-spacing;
    }
  }
}
