$base00: $dark-gray;
$base02: $dark-gray;
$base03: $medium-gray;
$base05: $rouge;
$base08: darken($rouge, 20);
$base09: $purple;
$base0a: darken($rouge, 20);
$base0b: darken($rouge, 40);
$base0c: darken($purple, 20);
$base0d: darken($purple, 40);
$base0e: $rouge;
$base0f: mix($purple, $rouge);

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight,
.highlight .w {
  color: $base02;
}

.highlight .err {
  background-color: $base08;
  color: white;
}

.highlight .c,
.highlight .cd,
.highlight .cm,
.highlight .c1,
.highlight .cs {
  color: $base03;
}

.highlight .cp {
  color: $base0a;
}

.highlight .nt {
  color: $base0e;
}

.highlight .o,
.highlight .ow {
  color: $base0f;
}

.highlight .p,
.highlight .pi {
  color: $base0f;
}

.highlight .gi {
  color: $base0b;
}

.highlight .gd {
  color: $base08;
}

.highlight .gh {
  background-color: $base00;
  color: $base0d;
  font-weight: bold;
}

.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
  color: $base0e;
}

.highlight .kc {
  color: $base09;
}

.highlight .kt {
  color: $base09;
}

.highlight .kd {
  color: $base09;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
  color: $base0b;
}

.highlight .sr {
  color: $base0c;
}

.highlight .si {
  color: $base0f;
}

.highlight .se {
  color: $base0f;
}

.highlight .nn {
  color: $base0a;
}

.highlight .nc {
  color: $base0a;
}

.highlight .no {
  color: $base0a;
}

.highlight .na {
  color: $base0d;
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mb,
.highlight .mx {
  color: $base0b;
}

.highlight .ss {
  color: $base05;
}
