<section class="paste">
  <aside class="meta">
    <span class="date"><%= l(@paste.created_at, format: :simple) -%></span>
    <span class="language"><%= lexer_title(@paste.language) -%></span>
  </aside>
  <pre class="highlight"><code><%= @parse %></code></pre>
</section>
